.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
    gap: 20px;
}

.single_product{
    display: flex;
    flex-direction: column;
    height: 150px;
    border-radius: 1rem;
    background-color: lightblue;
    cursor: pointer;
    border: 1px solid teal;
}

.single_product>p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.single_product>img{
    height: 120px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.pagination{
    margin: 15px;
    display: flex;
    justify-content: center;
}

.pagination>span{
    padding: 1rem;
    border: 1px solid thistle;
    cursor: pointer;
}

.pagination_selected{
    background-color: rgba(211, 211, 211, 0.468);
}

.pagination_disabled{
    display: none;
}